{% extends 'base_dashboard.html' %}

{% block indicator_panels %}

            <div class="row">


            {% for panel in context.panels_html %}
                {{ panel }}
            {% endfor %}

            </div>
            <!-- /.row -->

{% endblock %}

{% block body_panels %}

                <div class = 'row'>
	                <div class="col-lg-4">

                    	<div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Sales by Genre
                            </div>
                            <div class="panel-body">

    								{{ context.sales_by_genre_table }}

                            </div>
                    		<!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class='col-lg-8'>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> All-Time Sales per Unit in Stock, by Genre
                            </div>
                            <div class="panel-body">
                                <div class="row">



                                    <div id='sales_over_inventory', style='height: 250px;'></div>


                                </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->

            </div>


{% endblock %}

{% block end_scripts %}
<script>

console.log({{ context.sales_over_inventory_json }});

new Morris.Bar({
    element: 'sales_over_inventory',
    data: {{ context.sales_over_inventory_json }},
    xkey: 'Category',
    ykeys: ['Sales Over Inventory'],
    labels: ['Dollars per Unit in Stock'],
    axes: true,
    resize: true,
    parseTime: false,

});
</script>

{% endblock %}
