{% extends 'base_dashboard.html' %}

{% block indicator_panels %}

            <div class="row">


            {% for panel in context.panels_html %}
                {{ panel }}
            {% endfor %}

            </div>
            <!-- /.row -->

{% endblock %}

{% block body_panels %}

<div class = 'row'>
	                <div class="col-lg-6">

                	<div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Sales by Genre
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">


								{{ context.sales_by_genre_table }}

								</div>
							</div>
                            <!-- /.row -->
                        </div>
                		<!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->

            </div>


{% endblock %}